<div class="row">
	<div class="col-sm-4">
		<h4>Create Category</h4>
		<form action="/admin/categories/create" method="POST">
			<div class="form-group">
				<label for="name">Name</label>
				<input type="text" name="name" id="" class="form-control" placeholder="enter title">
			</div>
			<button type="submit" class="btn btn-primary">Create Category</button>
		</form>
	</div>
	<div class="col-sm-8">
		<h2>Category</h2>
		<table class="table">

			<thead>
				<tr>
					<th>id</th>
					<th>Name</th>
					<th>Date</th>
					<th>Edit</th>
					<th>Delete</th>
				</tr>
			</thead>
			<tbody>

				{{#each categories}}
				<tr>
					<td>{{id}}</td>
					<td>{{name}}</td>
					<td>07/07/2020</td>
					<td>
						<a href="/admin/categories/edit/{{id}}" class="btn btn-info">Edit</a>
					</td>
					<td>
						<form action="/admin/categories/delete/{{id}}?_method=DELETE" method="POST">
							<button type="submit" class="btn btn-danger">Delete</button>
						</form>
					</td>
				</tr>
				{{/each}}
			</tbody>
		</table>
	</div>
</div>
